# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
# Virtual environment
backend/back/
backend/venv/
backend/env/

# Virtual environment
frontend/front/
frontend/venv/
frontend/env/
# Flask / SQLite
*.db
*.sqlite3
instance/

# Migrations (спорно — обычно включают в репо)
# migrations/

# Logs
logs/
*.log

# Environment variables — НИКОГДА не пушить
.env
.env.*
!.env.example

# Uploads (пользовательский контент)
backend/static/uploads/avatars/*
!backend/static/uploads/avatars/.gitkeep

# Frontend build
frontend/node_modules/
backend/static/dist/

# Vite / Node
frontend/.env
frontend/.env.*
!frontend/.env.example
frontend/dist/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo